<div class="header">
  <div class="navbar">
    {{#link-to 'home'}}
      <div class="header-logo">
        <img src="../../img/logo_sm.png" />
      </div>
    {{/link-to}}
    <div class="navbar flex-auto">
      <div id="navigation-zone">
      </div>
    </div>
    <nav>
      <ul class="menu">
        {{#each-in links as |name href|}}
          <li class="nav-item">
            {{link-to name href class="nav-link"}}
          </li>
        {{/each-in}}
      </ul>
    </nav>
  </div>


</div>
