header
  display: block

.header
  background: grey
  padding-top: 20px
  padding-bottom: 20px
  width: 100%

  .navbar
    display: flex
    align-items: center
    margin-left: auto
    margin-right: auto
    padding-left: 75px
    padding-right: 75px

    .header-logo
      float: left
      img
        max-height: 105px

    .menu
      list-style: none
      display: flex
      float: right

      .nav-item
        margin-right: 20px
