$foundation-palette: (
  primary: rgb(65, 161, 201),
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

/* All custom properties should be included in this file, unless scoped to an element or class */
:root {

  /* Base colors */

  --main-black-color: rgb(26, 25, 25);
  --main-black-shade-1-color: rgb(52, 53, 52);
  --main-black-shade-2-color: rgb(99, 100, 99);
  --main-black-shade-3-color: rgb(158, 159, 158);
  --main-black-shade-4-color: rgb(203, 204, 203);
  --main-black-shade-5-color: rgb(242, 241, 240);

  --main-white-color: rgb(255, 255, 255);

  --accent-purple-color: rgb(158, 69, 124);
  --accent-purple-dark-1-color: rgb(87, 78, 107);
  --accent-purple-dark-2-color: rgb(75, 69, 95);
  --accent-purple-light-1-color: rgb(167, 68, 127);
  --accent-purple-light-2-color: rgb(174, 79, 134);
  --accent-purple-light-3-color: rgb(187, 98, 142);

  --accent-red-color: rgb(242, 78, 90);
  --accent-red-dark-1-color: rgb(214, 64, 94);
  --accent-red-dark-2-color: rgb(178, 56, 88);
  --accent-red-light-1-color: rgb(242, 108, 109);
  --accent-red-light-2-color: rgb(244, 124, 114);
  --accent-red-light-3-color: rgb(248, 156, 150);

  --accent-blue-color: rgb(65, 161, 201);
  --accent-blue-dark-1-color: rgb(21, 147, 189);
  --accent-blue-dark-2-color: rgb(0, 120, 159);
  --accent-blue-light-1-color: rgb(67, 171, 206);
  --accent-blue-light-2-color: rgb(96, 185, 211);
  --accent-blue-light-3-color: rgb(116, 199, 214);

  --accent-green-color: rgb(106, 223, 158);
  --accent-green-dark-1-color: rgb(97, 214, 154);
  --accent-green-dark-2-color: rgb(97, 195, 155);
  --accent-green-light-1-color: rgb(118, 227, 163);
  --accent-green-light-2-color: rgb(148, 232, 176);
  --accent-green-light-3-color: rgb(176, 238, 190);

  --orange-color: rgb(250, 166, 25);


  /* Named colors */

  --black-color: var(--main-black-color);
  --gray-color: var(--main-black-shade-2-color);
  --light-gray-color: var(--main-black-shade-3-color);
  --off-white-color: rgba(242, 241, 240, .5);
  --white-color: var(--main-white-color);

  --main-color: var(--main-black-shade-1-color);
  --red-color: var(--accent-red-color);
  --green-color: var(--accent-green-color);
  --purple-color: var(--accent-purple-color);

  --highlight-blue-color: rgb(210, 236, 248);


  /* Color modifiers */

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);

  --lighten-1: rgba(255, 255, 255, .125);
  --lighten-2: rgba(255, 255, 255, .25);
  --lighten-3: rgba(255, 255, 255, .333);


  /* Button properties */
  /* consider scoping to <button> and <a> elements */

  --primary-button-color: var(--accent-blue-color);
  --dark-button-color: var(--accent-blue-dark-2-color);
  --cancel-button-color: var(--orange-color);
  --delete-button-color: var(--accent-red-color);
  --save-button-color: var(--accent-green-color);
  --action-button-color: var(--accent-purple-color);

  --button-border-width: 1px;
  --button-border-radius: 3px;

  --button-font-weight: var(--helv-nue-med-font-wt);
  --button-font-family: var(--helv-nue-med-font-fam);
  --button-font-size: inherit;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;

  --button-color: var(--main-color);
  --button-background-color: var(--off-white-color);
  --button-border-color: var(--main-color);

  --button-small-padding-y: .25rem;
  --button-small-padding-x: .5rem;
  --button-big-padding-y: 1rem;
  --button-big-padding-x: 1.25rem;
  --button-narrow-padding-x: .5rem;

  /* Font properties */

  /* See- http://rachaelmoore.name/posts/design/css/web-safe-helvetica-font-stack/ */
  --helv-nue-bld-font-fam: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  --helv-nue-bld-font-wt: 600;

  --helv-nue-med-font-fam: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  --helv-nue-med-font-wt: 500;

  --helv-nue-reg-font-fam: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  --helv-nue-reg-font-wt: 400;

  --helv-nue-lte-font-fam: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  --helv-nue-lte-font-wt: 300;

  --font-stretch: normal;


  /* Input properties */

  --input-border-color: var(--main-black-shade-4-color);

  /* MORE VARS */
  --black: var(--main-black-color);
  --red: var(--accent-red-color);
  --shadow: var(--main-black-shade-1-color);
  --light-blue: var(--accent-blue-light-2-color);
}
