<header>
  {{navigation-bar}}
</header>

<main>
  {{outlet}}
</main>

<footer class="footer">
  <div class="layout-row layout-wrap container">
    <div class="flex-25 layout-row layout-align-center-start">
      <p>Own Voices Publishing is a small, independent publishing house that focuses on promoting authors of color and
      romance stories featuring diverse characters. <br>
      Respect…love…diversity.</p>
    </div>
    <div class="flex-50 layout-row layout-align-center-start">
      <span class="follow-text">Follow us on:</span>
      {{fa-icon 'facebook-square' prefix="fab" size="3x" class="follow-icons"}}
      {{fa-icon 'twitter-square' prefix="fab" size="3x" class="follow-icons"}}
    </div>
    <div class="flex-25">
      <ul class="footer-links layout-row layout-wrap">
        <li class="flex-50">authors</li>
        <a href="/privacy"><li class="flex-50">privacy</li></a>
        <li class="flex-50">books</li>
        <a href="/submissions"><li class="flex-50">submissions</li></a>
        <li class="flex-50">blog</li>
        <li class="flex-50">team</li>
      </ul>
    </div>
  </div>
</footer>
