<div class="main-content">
  <h1>Authors</h1>
  <p>
    Hi. Sorry about the empty page. We're still in the process of building up our backlog. Wanna join our ranks?
    Head over to our <a href="/submissions">submissions</a> page for details.

    Continue checking back as we will be updating the site with new information!
  </p>
</div>
