<div class="banner"></div>

<div class="main-content">
  <h1>Yes, we want your manuscripts!</h1>
    <p>Click <a href="/submissions">here</a> to find out more information.</p>
    <p>Own Voices Publishing started in 2018 as an idea between a small group of friends who saw the need for a publisher that
      accepted and published books featuring people of color as the main characters. We wanted to represent authors of color and
      highlight their novels to an underserved populous.</p>
    <p>However, we also accept work from ANY authors who write authentic stories with a multicultural or diverse bent.
      We here at Own Voices believe that “love is indeed love” and that everyone has the right to see a reflection of themselves between the pages of a book.</p>
</div>
