<h1 class="center">We are open for submissions!</h1>
<div class="main-content">
  <p> Own Voices Publishing is actively seeking agented and unagented diverse Romance fiction for all of our imprints.
  This includes LBGTQ submissions. We look for strong authors who write #ownvoice characters.
  We are not a vanity publisher but a royalty paying publisher. We are eBook first and Print on Demand if sales are viable.  
  This will be decided on a case by case basis. Authors earn 50% gross royalties from sales from our distributors.  
  Authors must be over 18 for their work to be accepted.</p>

  <dl>
    <dt>We are currently accepting completed manuscripts of 8,000 up to 100,000 words in all sub-genres of romance as indicated below.</dt>
    <dd>Short stories- 8,000 words to 19,999 words</dd>
    <dd>Novellas- 20,000 words to 49,999 words</dd>
    <dd>Novels- 50,000 words to 100,000 words</dd>
  </dl>
  <p>Anthology lengths dependent on the call for submissions for each anthology call.</p>
  <p>Simultaneous submissions:  If you submit elsewhere and get accepted please let us know and withdraw your submission.</p>

  <p>We are currently seeking, Happily Ever After and Happy For Now:</p>
  <ul>
    <li>Young Adult Romance</li>
    <li>New Adult Romance</li>
    <li>Erotic Romance</li>
    <li>Sweet Romance</li>
  </ul>
  <p>This includes all subgenres such as:</p>
  <ul>
    <li>Romantic Suspense</li>
    <li>Romantic Comedy</li>
    <li>Sweet Romance</li>
    <li>Historicals</li>
    <li>Westerns</li>
    <li>Fantasy</li>
    <li>Sci-Fi</li>
  </ul>

  <p>We will NOT acquire stories that include:</p>
  <ul>
    <li>Necrophilia</li>
    <li>Scat</li>
    <li>Beastiality (shifters accepted in human form)</li>
    <li>Incest (not even the illusion of it)</li>
    <li>Rape for titillation</li>
    <li>Racist Rhetoric</li>
    <li>Pedophilia</li>
    <li>Sex between under age children</li>
    <li>Copyrighted material (such as lyrics)</li>
    <li>Plagirism</li>
  </ul>

  <hr>

    <h2>Guidelines</h2>
    <p>Complete manuscript in WORD formatted to the below specifications:</p>
    <ul>
      <li>1-inch margins</li>
      <li>12 pt. Times New Roman Font</li>
      <li>Headers/Footers/Page Numbers</li>
      <li>Double Spaced</li>
      <li>1 page synopsis</li>
      <li>Your submission should be fully edited before submitting</li>
    </ul>
    <p>Please send submissions by email to submissions@ownvoicespublishing.com with the following information:
      Query letter with legal name, pen name (if applicable), working title, word count, genre, and a 1 page synopsis attached,
      along with any previous writing credits.</p>
    <p>Please allow 8-12 weeks for response.</p>
    <p>These guidelines subject to change.</p>
</div>
